@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');

body {
	font-family: 'Lumanosimo', cursive;
	text-align: center;
	font-size: 25px;
	background: #dfdfdf;
}
.title {
	margin-bottom: 0;
}
.subtitle {
	margin-top: 0;
	color: red;
	font-size: 12px;
}
#generateButton {
	font-family: Arial, Helvetica, sans-serif;
	border: 0;
	font-size: 20px;
	padding: 10px 0;
	max-width: 100px;
	width: 100%;
	background: linear-gradient(rgb(0, 119, 255), blue);
	color: #fff;
	border-radius: 5px;
	margin-bottom: 30px;
}
h2 {
	margin-top: 200px;
	text-transform: uppercase;
	font-size: 18px;
	color: dimgray;
}
#generateButton:hover {
	background: linear-gradient(rgb(2, 51, 107), blue);
}
button:active {
	transform: scale(0.95);
}
#idDisplay {
	display: block;
}
.change_buttons {
	max-width: 70px;
	width: 100%;
	padding: 2px 0;
	font-family: inherit;
	border: 0;
	color: #fff;
	background: linear-gradient(rgb(253, 80, 27), red);
}
.change_buttons:hover {
	background: linear-gradient(rgb(134, 38, 9), red);
}
button {
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}